    <script>
        function tambah() {
            var nilai1 = document.getElementById("nilai1").value;
            var nilai2 = document.getElementById("nilai2").value;

            var hasil = nilai1 * nilai2;

            document.getElementById('tampil').value = hasil;
        }
    </script>
    <form>

        <div class="form-group">
            <label for="">nilai1</label>
            <input id="nilai1" type="number">

        </div>

        <div class="form-group">
            <label for="">nilai2</label>
            <input id="nilai2" type="number">
        </div>
        <div class="form-group">
            <input type="button" onclick="tambah()" value="tambah">
        </div>
        <input type="" type="number" id="tampil">








    </form>